.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 10px;
}
